.latestComments{
    margin: 50px 20px;
}

.latestComments_title{
    margin-bottom:0;
}

.latestComments__item{
    line-height: 30px;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.latestComments__userImage{
    border-radius: 50%;
    height:70px;
    width:70px;
}

.latestComments__name{
    color:aqua;
}

.latestComments__timestamp{
    color:rgb(43, 93, 138);
}

@media (max-width: 760px)  {
    .latestComments{
        margin-left:30px;
    }

    .latestComments__item{
        flex-direction: column;
        gap:15px;
        margin-bottom:40px;
    }

    .latestComments__details{
        display: flex;
        flex-direction: column;
        gap:5x;
    }

    .latestComments__nameTimestamp{
        font-size:14px;
    }
}