.currentInventory{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 32px;
    font-size:26px;
    margin: 20px 0;
}

@media (max-width: 760px)  {
    .currentInventory{
        margin-bottom: 0;
    }
}