.companySelector{
    line-height:30px;
}

.companySelector__text{
    font-size:16px;
    margin-right:10px;
}

.companySelector__selector{
    height:30px;
}

.chartPeriodContainer__selector{
    height: 30px;
}