.charts-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:40px;
    flex-wrap: wrap;
}

.data-type{
    display: flex;
    align-items: center;
    justify-content: center;
}