.chartsContainer{
    display: flex;
    flex-direction: column;
}

.chartsContainer__charts{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:40px;
    flex-wrap: wrap;
}